* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

.no_margin {
  margin: 0;
}

html {
  background-color: #1DA1F2;
  font-family: "Asap", sans-serif;

}
canvas {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    top: 0;
    height: 100vh;
    min-width: 100%;
}

.icon {
  border-radius: 100%;
  width:10vh;
  margin: 10%;
  
}

.basic_wrapper {
  background: #fff;
      margin-top: 5%;
      border-radius:20px;
      padding: 2%;
      display: inline-block;
      width: 80%;

}



.selection_but {
  background: #77bcfd;
  color: white;
  font-size: x-large;
  padding: 20%;
  border-radius: 20px;
  border-width: 0px;
}

.blackDots {
  text-decoration: dotted;
  text-decoration-color:black;
  text-decoration-line: underline;
}
.pink {
  color: pink;
}

.darkBlue {
  color: royalblue;
}

.lightBlue {
  color:#abd5ef;
}

.demo_but_sec{
  align-items: center;
  text-align: center;
}

.play_pause_con{
  position: absolute;
  top: 2%;
}

.demo_but {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  font-size: xx-large;
  border-width: 0px;
  color: white;
}

.play_but {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  font-size: medium;
  border-width: 0px;
  color: white;
}

.demotionText {
  text-align: center;
  margin: 5%;
}

.demo_but:hover {
  border-width: 2px;
  border-color: white;
  border-style: dashed;
}

.algorithm_section {
  padding: 10%;
}

.gradient-transition {
  background-image: linear-gradient(#1DA1F2, #FFF);
  height: 500px;

}
.tweet_intro {
 // margin: 10%;
  padding: 10%;
}
.center {
  text-align: center;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.basicText {
  color: white;
  font-size: 3vw;
  padding: auto;
  margin-top: 40%;
}

.select {
  margin-top: 20%;
}
.selection_but:hover {
  background: #5189be;
  color: white;
  font-size: x-large;
  padding: 20%;
  border-radius: 20px;
  border-width: 0px;
}
body{
    font-family: "Asap", sans-serif;
    z-index: 0;
    font-size: 2em;
    color: darkgray;
    background-color:  #1DA1F2 ;
    // .sections_wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  

    & * > .tweet-wrap {
                  
      width: 400px;
      max-width: 400px;
      min-width: 400px;
      
      background: #fff;
      margin-top: 0%;
      border-radius:20px;
      padding: 2%;
      display: inline-block;
      border:1px solid rgb(233, 233, 233);
      color:rgb(108, 108, 108)

    }
    & * > .tweet-header {
      display: flex;
      align-items:flex-start;
      font-size:0.9rem;
      width: 360px;

      .avator{
          border-radius:100px;
          width:48px;
          margin-right: 15px;
      }
      
      
    }
    
    & * > .tweet-header-info {
      font-weight:bold;
      width: 297px;
      span {
          font-weight:normal;
          margin-left: 5px;
        }
      p {
          font-weight:normal;
          margin-top: 5px;
          
        }
      .tweet-content {
          display: flex;
          justify-content:  left;
          align-items: center;
          width: 297px;
          margin-left: 10px;
          .content_img{
            
            max-height: 158.93px;
            border-radius: 5%;
          }
          .content_vid{
            margin-left: 60px;
            height: 158.93px;
            border-radius: 5%;
          }
        }
    }

    & * > .tweet-img-wrap {
      padding-left: 60px;
      .img{
          max-width: 100%;
      }
    }

    
    
    & * > .tweet-info-counts {
      display: flex;
      margin-left: 60px;
      margin-top: 10px;
      width: 297px;
      font-size: 0.8rem;
      
      div {
          width: 80px;
          display: flex;
          svg {
              margin-right: 10px;
          }
      }
      .message {
        width: 57px;
        height: 20px;
        svg{
          width: 20px;
          height: 20px;
        }
        
    }
    } 
    

    //INTRO SECTION CSS
    .intro_sec{
    scroll-snap-align: start;
    position: relative;
    height: 140vh;
    background-color: #1DA1F2;
    
      .parallax_layer{
          position: absolute;
          inset: 0;

                      
      }
      .back_intro{
          z-index: -10;
          position: relative;

          .video_wrapper{
              video {
                object-fit: cover;
                width: 100vw;
                top: 0;
                height: 100vh;
                min-width: 100%;
              }
            }

          .cosmos_graph {
              position: relative;
              width: 100%;
              height: 100%;
              top: 0;
              canvas.cosmos_canvas {
                  object-fit: cover;
                  object-position: center;
                  width: 100vw;
                  top: 0;
                  height: 100vh;
                  min-width: 100%;
              }
          }
          
      }
      .front_intro{
          z-index: 0;
          height: 140vh;
          width: 100vw;
          .main_text{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            position: relative;
            span.banner_txt{
             // text-transform: uppercase;
              //background-color: #0b5684;
              color: white;
              padding-top: 1.1rem;
              padding-bottom: 1.1rem;
              padding-left: 3rem;
              padding-right: 3rem;
              font-size:4.5vw;
              letter-spacing: 4px;
            }
          }
          
          .logos{
            height: 40vh;
            width: 100vw;
            position: relative;
            display: flex;
            inset: 0;
              justify-content: center;
              align-items: center;
            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;

            }
            
            li {
              height: 40vh;
              width: 20vw;
              flex-grow: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
            }
            
            img {
              max-height: 100%;
              max-width: 100%;
            
              object-fit: cover;
              vertical-align: bottom;
            }
            li:last-child {
              height: 0;
              width: 0;
              flex-grow: 10;
            }
          }
      }
    }

    //FLARE EFFECTS

    
  .floating {
   
    animation: float 5s infinite;
  }
 
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  //COUNTER

  
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

  .counter {
    transition: --num 4s;
    counter-set: num var(--num);
    font-size: 20vw;
    --num: 0;

  }
  .counter::after {
    content: counter(num);
  }


  //HEART POP

  

.heart {
  width: 100px;
  height: 100px;
  position: flex;
  text-align: center;
  justify-content: center;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

  .heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }

  .stage {
    position: relative;
    justify-content: left;
    text-align: left;
    display: flex;
  
  }

  //ONBOARDING METHODOLOGY
  .onboarding2 {
    height: 400vh;
    width: 100%;
    margin-top: 50vh;
    position: relative;
    justify-content: center;
    text-align: center;

    
    .text_main {
      //display: flex;
      
      display: flex;
      color: white;
      height: 20vh;
      font-size: 2.5rem;
      margin: 10vh;
      text-align: center;

      .definition_text {
        margin:40vh;
        height: 20vh;

      }
      .counting_text {
        height: 20vh;
      }
    }
  }

  .text_div{
    //position: absolute;
    align-items:center;
    display:block;
    justify-content: left;
    top: 0;
    height: 100vh;
   
    //font-size: 2rem;
    position: sticky;
  }

    //decoration

    .under {
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-color: #0b5684;
    }

    span {
      display: inline;
    }


    .big  {
      font-size: 6vw;
    }
    //ONBOARDING SECTION CSS
    .timeline_padding{
      height: 20vh;
      background-color: white;
      display: flex;
        align-items: center;
        justify-content: center;
      .padding_text{
        color: rgb(108, 108, 108);
      }
    }
    .onboarding{

        height: 800vh;
        width: 100vw;
        position: relative;
        font-family: "Asap", sans-serif;
        font-size: xx-large;
        color: white;

       

        .reveal{
          position: relative;
          transform: translateY(150px);
          opacity: 0;
          transition: 1s all ease;
        }


        .onboarding_text{
          height: 900vh;
          position: absolute;
          //width: 100%;
          color: white;

         

          .short {
            height:50vh;
            text-align: center;
          }
          

          & * > .text_div{
            //position: absolute;
            align-items:center;
            display:flex;
            justify-content: left;
            top: 0;
            height: 100vh;
            font-size: 3vw;
            width: 50%;
            //font-size: 2rem;
            position: sticky;
          }

          
          & * > .text_div2{
            //position: absolute;
            align-items:center;
            display:flex;
            justify-content: left;
            top: 0;
            height: 100vh;
            font-size: 3vw;
            width: 100%;
            //font-size: 2rem;
            position: sticky;
          }

          & * > .text_side{
            //position: absolute;
          
            display: float;
            text-align: end;
          }


          .intro_text{
            position: relative;
            height: 180vh;
            margin-left: 2%;

            
          }
          .viral_text{
            height: 150vh;
            position: relative;
            margin-left: 2%;
            transform: translateY(0);

                                 
          }
          .viral_text2{
            height: 150vh;
            position: relative;
            margin-left: 2%;



          }
          .viral_text3{
            height: 250vh;
            position: relative;
            width: 80%;
            //display: flex;
            //white-space: nowrap;
            margin-left: 2%;
            text-align: left;
            padding: 0;

          }
          .viral_text4{
            height: 170vh;
            //position: relative;
            margin-left: 2%;
            display: flex;
            
          .row {
            display: inline;
          }

          }
          

        
        }
        .onboarding_flare{
          height: 1500vh;
          width: 100vw;
          position: absolute;
          .intro_phone_screen{
            height: 210vh;
            position: relative;
            .svg_wrap{
              height: 100vh;
              top:0;
              position: sticky;
              align-items:center;
              display:flex;
                svg.phone{
                  position:absolute;
                  display: block;
                  left:2%; top:4%; width:96%; height:96%
                }
            }
          }
          .flare_padding1{
            position: relative;
            height: 270vh;
          }
          .tweets_animate_movein {
            margin: 2%;
            
          }

          .welcome {
            font-size: 10vw;
            position: relative;
          }

          .tweets_div {
            color: darkgray;
          }
          .median_tweets{
            height: 250vh;
            width: 50vw;
            position: relative;
            left: 50%;
            .tweets_movein{
              height: 100vh;
              width: 80vw;
              top: 10%;
              position: sticky;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: 2%;
              
            }

          }

        
          

        }

        .text_div{
          //position: absolute;
          align-items:center;
          display:flex;
          justify-content: left;
          top: 0;
          height: 100vh;
         
          font-size: 2rem;
          position: sticky;
        }
        .onboarding_tweets{
          height: 900vh;
          //width: 100vw;
          justify-content: center;
          //position: absolute;
          .tweets_padding{
            height: 50vh;
            position: relative;
          }
          .tweets_wrapper{
            height: 850vh;
            position: relative;
            .tweets_div{
              position: sticky;
              top: 0;
              height: 100vh;
              //width: 100vw;        
              display: flex;
  
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .tweets_animate{
                  .svg_wrap{
                    position: absolute;
                    align-items:center;
                    display:flex;
                    
                    svg.highlight{
                      position: relative;
                      z-index: 20;
                      top: 0%; left: 0%; width: 110%; height: 90%;
                    }
                    
                  }
                  #first_svg{
                    top:10%;
                  }

  
                  
              }
                     
            }
          }
          
        }
        
    }

    //IPHONE SECTION

    .text_iphone
    {
      color:#0A6BA8;
      text-transform:bold;
      margin-left: 10%;
      font-weight: 2;
    }
    .phone_buffer{
      height: 50vh;
      width: 100vw;
      background-color: white;
    }

    .phone_section{
      height: 300vh;
      width: 100vw;
      position: relative;
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      .phone_wrapper{
        position: absolute;
        height: 300vh;
        width: 50vw;
        left: 50%;
        text-align: center;
        align-items: center;
        .svg_wrap{
          height: 100vh;
          top:0;
          position: sticky;
          align-items:center;
          display:flex;
            svg.phone{
              position:absolute;
              display: block;
              z-index: 20;
              left:0%; top:0%; width:100%; height:100%
            }
        }
      }
      .text_wrapper{
        position: absolute;
        height: 300vh;
        width: 50vw;
        .text_div{
          height: 100vh;
          width: 100%;
          
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          right: 30%;
          
        }
      }

      .screen_wrapper{
        position: absolute;
        height: 200vh;
        text-align: center;
        align-items: center;
        width: 100%;
       // left: 50%;
       // width: 50vw;
        .carousel{
         // z-index: 20;
          height: 100vh;
          margin-left: 30%;
          width: 40%;
          top: 0;
          position: sticky;
          align-items: right;
          text-align: center;
          
          .carousel_item{
            height: 100%;
            width: 100%;
           // z-index: 99;
            .button_wrapper{
              height: 100%;
              width: 50vw;
            }
            .trending_feed{
              height: 100%;
              width: 50vw;
                      
            }
          }
          
        }

      }
    }




    //TIMELINE SECTION CSS
    .timeline_sec{
    .timeline_wrap{
        height: 400vh;           
        width: 100vw;
        background-color: white;
        .timeline_intro{
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            height: 10vh;
            width: 100vw;
        }
        .parallax_wrap{
            height: 390vh;
            width: 100vw;
            position: relative;
            .timeline_line{
                position: absolute;
                z-index: 0;
                left: 0;
                top:0;
                width: 100%;
                height: 100%;
                text-align: center;
                overflow: hidden;
                svg.line_svg{
                    display: inline-block;
                    height: 100%;
                }
            }
    
            .timeline_blocks{
                position: absolute;
                z-index: 1;
                display: flex;
                flex-flow: column;
                margin-top: 0;

                box-sizing: border-box;

                .timeline_block{
                    position: relative;
                    display: block;
                    width: 100vw;
                    height: 55.5vh;
                    .timeline_text{
                        position: absolute;
                        display:inline-block;
                        z-index: 2;
                        color: rgb(108, 108, 108);
                        background-color:rgba(255, 255, 255, 0.8);
                        padding: 5px;
                        font-size: 0.7rem;
                        
                    }
                       
                  }
                  
                  .timeline_block:nth-child(odd){
                    text-align: right;
                    margin-left: -5vh;

                    .tweet-wrap{
                      right: 10px;
                      width:30vw;
                      text-align: left;

                    }
                    .timeline_text{
                      left:53%;
                      text-align: left;
                      margin-left: -0.8vw;
                    }
                  }
                  .timeline_block:nth-child(even){
                    text-align: left;
                    .tweet-wrap{
                      
                      margin-left: -2.5vw;         
                    }
                    .timeline_text{
                      text-align: right;
                      right: 50.3%;
                      margin-right: -0.8vw;
                    }
                  }
                
                
                
            }
        
        }

    }
    }
    
    .network_section{
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 0;
      position: relative;
      .sketch_sec{
        height: 100vh;
        width: 100vw;
      }
    }

    .github_section{
      height: 180vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 0;
      position: relative;
      background-color: white;
      .highlight_text_div{
        height: 180vh;
        width: 55vw;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        position: relative;
        .highligh_text_background{
          background-color: #1DA1F2;
          height: 70vh;
          width: 45vw;
          position: relative;
          max-width: 45vw;
          font-size: 1.6vw;
          color: white;
          .highlight_text{
            
            margin-left: 8%;
            margin-right: 8%;
            margin-top: 10%;
            margin-bottom:10%;
            

            align-items: center;
            inset: 0;
            ul{
              list-style-type: none; /* Remove bullets */
              padding: 0; /* Remove padding */
              margin: 0; /* Remove margins */
              li{
                display: inline;
              }
            }
          }
        }
      }
      .highlight_tweet_div{
        height: 180vh;
        width: 45vw;
        background-color: white;
        
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        position: relative;
        flex-direction: column;
        .svg_div{
          height: 5vh;
          width: 45vw;
          .svg_moveup{
            top: -47%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: row;
            .svg_wrap{
              height: 2.5vw;
              width: 2.5vw;
            }
          }
        }
      }
    }

    .bargraph_section{
      height: 220vh;
      width: 100vw;
      position: relative;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 0;
      .bars_div{
        height: 220vh;
        width: 50vw;
        .bars_sticky{
          height: 100vh;
          width: 50vw;
          position: sticky;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .bars_container{
            height: 60vh;
            width: 25vw;
            .bar1{
              flex-direction: column;
              justify-content: center;
              align-items: center;
              display: flex;
              height: 15vh;
              width: 25vw;
              background-color: #0b5684;
              .bar_text{
                color: white;
                font-size: 1.3rem;
                position: absolute;
              }
            }
            .bar2{
              flex-direction: column;
              justify-content: center;
              align-items: center;
              display: flex;
              height: 15vh;
              width: 25vw;
              background-color: #1d84c3;
              .bar_text{
                color: white;
                font-size: 1.3rem;
                position: absolute;
              }
            }
            .bar3{
              flex-direction: column;
              justify-content: center;
              align-items: center;
              display: flex;
              
              height: 15vh;
              width: 25vw;
              background-color: #77bcfd;
              .bar_text{
                color: white;
                font-size: 1.3rem;
                position: absolute;
              }
            }
            .bar4{
              flex-direction: column;
              justify-content: center;
              align-items: center;
              display: flex;
              height: 15vh;
              width: 25vw;
              background-color: #b0d6f9;
              .bar_text{
                color: white;
                font-size: 1.3rem;
                position: absolute;
              }
            }
          }
        }
      }
      .text_div{
        height: 220vh;
        width: 50vw;
        align-items: center;
        .text_sticky{
          height: 100vh;
          width: 45vw;
          position: sticky;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .text_container_background{
            background-color: #1DA1F2;
            height: 45vh;
            width: 45vw;
            position: relative;
            max-width: 45vw;
            font-size: 3vw;
            color: white;
            .text_container{
              display:flex;
              align-items: center;
              inset: 0;
              justify-content: center;
              .text_scroller{
                margin-left: 8%;
                margin-right: 8%;
            
                height: 45vh;
                display:flex;
                align-items: center;
                inset: 0;
                justify-content: center;
                position: absolute;
              }
            }
            
          }
        }

      }
      
      
    }
    

    // .stacked_bars{
    //   //position: relative;
    //   height: 770vh;
    //   width: 100vw;
    //   color: white;
    //   align-items: center;
    //   z-index: 1000;
    //   .bars_div{
    //     height: 100vh;
    //     width: 100vw;
    //     top: 0;
    //     position: sticky;
    //     flex-direction: column;
    //     justify-content: start;
    //     align-items: center;
    //     display: flex;
    //     .bar1{
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       display: flex;
    //       height: 25vh;
    //       width: 25vw;
    //       background-color: #0b5684;
    //     }
    //     .bar2{
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       display: flex;
    //       height: 25vh;
    //       width: 25vw;
    //       background-color: #1d84c3;
    //     }
    //     .bar3{
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       display: flex;
          
    //       height: 25vh;
    //       width: 25vw;
    //       background-color: #77bcfd;
    //     }
    //     .bar4{
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       display: flex;
    //       height: 25vh;
    //       width: 25vw;
    //       background-color: #b0d6f9;
    //     }
    //   }
    // }
    .demotion_intro_section{
      background-color: #1DA1F2;
      color: white;

      inset: 0;
      height: 250vh;
      width: 100vw;
      position: relative;
      .amplification_demotion{

        height: 50vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        background-color: white;
        color: rgb(108, 108, 108);
        .amplification_text{
          margin-left: 10%;
          margin-right: 10%;
          font-size: 2.5vw;
          line-height: 3rem;
          .non_changing{
            padding-left: 4rem;
            padding-right: 4rem;
            width: 16rem;
            max-width: 16rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            .changing{
                text-align: center
            }
          }
        }
      }
      .demotion_how{
        height: 200vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        background-color: white;
        .demotion_tweet_div{
          height: 100vh;
          width: 50vw;
          position: sticky;
          top:0;
          display: flex;
          align-items: center;
          justify-content: center;
          inset: 0;
          background-color: white;
          .demotion_tweet_div_sticky{
            height: 100vh;
            width: 45vw;
            display: flex;
            align-items: center;
            justify-content: center;
            inset: 0;
            .demotion_tweet_bg{
              height: 90vh;
              width: 100%;
              background-color: #1DA1F2;
              display: flex;
              align-items: center;
              justify-content: center;
              inset: 0;
              .tweets_div{
                position: sticky;
                top: 0;
                height: 100vh;
                  
                display: flex;
    
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .tweets_animate{
                  margin: 0.25%;
                }
                #main{
                  z-index: 20;
                }
                      
              }
            }

          }
        }
        .demotion_text_div{
          height: 100vh;
          width: 50vw;
          position: sticky;
          top:0;
          display: flex;
          align-items: center;
          justify-content: center;
          inset: 0;
          background-color: white;
          color: rgb(108, 108, 108);
          .demotion_text_div_sticky{
            height: 70vh;
            width: 40vw;     
            font-size: 2.5vw;  

            
          }
          
        }
      }
    }
    .demotion_section{
      height: 100vh;
      width: 100vw;
      background-color: white;
      color: rgb(108, 108, 108);
      .padding{
        height: 20vh
      }
      .demotionText{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
      }
    }
    .outro_section{
      height: 100vh;
      width: 100vw;
      background-color: #1DA1F2;
      color: white;

    }
}

